# Intro to Python

Introduction to Python:
In order to complete this module, you must know some basic concepts and terminology of the python coding language.

Python is a widely used programming language that has recruited enthusiasts from many professions: web programmers, game engineers, scientists, academics, and even designers of new programming languages.

Look into the documentation, for Jupyter Notebooks before you attempt this module to see how it works!
Link: https://www.datacamp.com/community/tutorials/tutorial-jupyter-notebook

More resources on python:
https://www.pythonforbeginners.com/basics/

# Variables:

A name that is used to denote something or a value is called a variable. In python, variables can be declared and values can be assigned. Here are a few examples of variables and their assignments:

In [2]:
x = 2
y = 3
ab = "Hi!"

In [3]:
print(x)

2

In [4]:
print(y)

3

In [5]:
print(x, ab)

2 Hi!

# Arithmetic Operators:

Similar to regular mathematics, you can use arithmetic operators in the python language! Here are a few examples:

In [6]:
1 + 2

3

In [7]:
3 ** 3

27

In [8]:
3 / 4

0.75

In [12]:
6*4

24

# Functions:

A function is a block of organized, reusable code that is used to perform a single, related action.

There are built in python functions but you can also create your own! If I wanted to print, return, or do a mathematical operation without having to do it manually everytime, I could just create a function and call it!

In [14]:
def sum_multiply(a,b,c):
    return a + b*c

In [15]:
sum_multiply(1,2,3)

7

As you can see above, I created a function of my own and called it on my own input values to get my answer! Here are a few other examples of functions:

In [22]:
def hello_world(name):
    print('hello world, I am ' + name )

In [23]:
hello_world('Anusha')

hello world, I am Anusha

The above example showcases python's printing capabilities, which is slightly different from returning. Here is a more complex function example, but you do not need to worry about the syntax or how it works for this module.

In [28]:
def iteration(n):
    i = 0
    for i in range(n):
        print(i+1)

In [29]:
iteration(5)

1
2
3
4
5

# Strings


Strings are ordered text based data which are represented by enclosing the same in single/double/triple quotes.

In [32]:
String0 = 'Taj Mahal is beautiful'
String1 = "Taj Mahal is beautiful"

In [33]:
print(String0)

Taj Mahal is beautiful

In [34]:
print(String1)

Taj Mahal is beautiful

As you can see, either double,single, or even triple would work the same for strings!

# Dictionaries

Dictionaries are more used like a database because here you can index a particular sequence with your user defined string.

To define a dictionary, equate a variable to { } or dict()

In [35]:
names = ['One', 'Two', 'Three', 'Four', 'Five']
numbers = [1, 2, 3, 4, 5]

In [37]:
names[0]

'One'

In [38]:
names[1:4]

['Two', 'Three', 'Four']